textarea {
    /* will prevent resizing horizontally */
    resize:vertical;
}

::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]{
    border-radius:3px;
    display:block;
    box-sizing:border-box;
    width:100%;
    padding:.8em;
    border:1px solid rgba(0,0,0,0.1);
    background: #f6f6f6;
    padding-left: 3em;
}


